body {
    background-color: white;
    color: black;
    font-family: Roboto, sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    color: #2196F3;
    font-family: Raleway;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.studio {
    color: #000;
}

.slogan {
    color: #FFF;
    color: #FFF;
    text-align: center;

    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.slogan-background {
    background-color: #2F303A;

}

ul {
    list-style: none;
}

.title_pros {


    font-size: 14px;

    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.text_pros {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.chapter {

    text-align: center;
    font-size: 36px;

    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.team {
    background: #F5F4FA;
}

.team_name {

    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.team_position {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.site-nav {


    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.site-nav:hover {
    color: #2196F3;
}

.site-nav.link.current {
    color: #2196F3;
}

.contacts-nav {
    color: #757575;
    text-decoration: none;
}

.contacts-nav:hover {
    color: #2196F3;
}

.featuer-list .title {}

.main_button {
    background-color: #2196F3;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
}

.main_button:hover {
    cursor: pointer;
    background-color: #188ceb;
}

.main_button:focus {
    outline-color: transparent;
    outline-style: solid;
}

/* portfoly */
.portfoly_button {
    color: #212121;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: #F5F4FA;
}

.portfoly_button:hover {
    cursor: pointer;
    background-color: #2196F3;
}

.portfoly_button:focus {
    outline-color: transparent;
    outline-style: solid;
}

.projects_name {


    font-size: 18px;
    font-weight: 700;
    line-height: 2;

    letter-spacing: 1.08px;
}

.project_type {
    color: #757575;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;

    letter-spacing: 0.48px;
}

footer {
    background: #2F303A;
}

.footer_logo {
    color: #FFF;
}

.address {
    color: #FFF;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;

    letter-spacing: 0.42px;
}